body {
    font-family: Helvetica;
    font-weight: bold;
  }

  .layout {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-gap: 30px;


    &__list {
        align-self: start;
        background-color: lightgray;
        display: grid;
        border-radius: 4px;

      }
  }

  .list__header {

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;

    p {
        margin: 5px;
    }
  }

  .list__card {
    background-color: ghostwhite;
    background: ghostwhite;
    display: grid;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 4px;

    padding: 16px;

  }

