body {
  font-family: Helvetica;
  font-weight: bold;
}

#nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.layout {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 30px;
}
.layout__list {
  align-self: start;
  background-color: lightgray;
  display: grid;
  border-radius: 4px;
}

.list__header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
.list__header p {
  margin: 5px;
}
.list__header--delete {
  padding: 5px;
}

.list__card {
  background-color: ghostwhite;
  background: ghostwhite;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 10px;
  border-radius: 4px;
  padding: 16px;
  cursor: move;
}
.list__card .card__label a {
  color: #333;
  text-decoration: none;
}

.card__add {
  border-radius: 4px;
  padding: 10px;
}
.card__add--btn {
  padding: 5px;
}

.AddCard__modal {
  padding: 30px;
  box-sizing: border-box;
}
.AddCard__modal fieldset {
  border: none;
}
.AddCard__modal label {
  display: block;
  margin: 10px 0;
}
.AddCard__modal input, .AddCard__modal textarea {
  width: 100%;
  margin: 10px 0;
  padding: 0.6rem;
  box-sizing: border-box;
}
.AddCard__modal button {
  padding: 5px;
}
.AddCard__modal--errorTxt {
  margin: 7px 0;
  color: red;
}
